<div class="form-wrapper">
  <%= form_with(model: @post, local: true) do |form| %>
    <div class="form-group">
      <%= form.label :content, "内容", class: "form-label" %>
      <%= form.text_area :content, class: "form-control" %>
    </div>
    <%= form.submit "つぶやく", class: "btn btn-primary" %>
  <% end %>
</div>