<article>
  <div class="article-wrapper">
    <div class="img-wrapper">
      <img src="/assets/dummy_user.jpg" alt="dummy user" class="user-image">
    </div>
    <div class="post-wrapper">
      <div class="post-header">
        <span class="username">ダミーユーザー</span>
        <span class="username-e">＠dummy_user</span>
        <% if !show %>
          <span><%= modified_time_ago_in_words(post.created_at) %></span>
        <% end %>
      </div>
      <div class="post-content">
        <%= simple_format(post.content)%>
      </div>
      <% if show %>
        <div class="post-time-wrapper">
          <span><%= post.created_at %></span>
          <% if post.created_at != post.updated_at %>
            <span><%= "編集済" %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</article>