<% provide(:title, "mini_bulletin_board") %>

<% @posts.each do |post| %>
  <a href=<%= post_path(post.id)%> class="show-link">
    <%= render partial: "post", locals: {post: post} %>
  </a>
<% end %>