html {
  height: 100%;
}

body {
  height: 100%;
}

.container-all {
  min-height: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.main-and-side-wrapper {
  width: 100%;
  padding: 40px 0px;
}

.sidebar {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.sidebar-list-wrapper {
  position: fixed;
  top: 40px;
  width: 100%;
  padding: 10px 20px;
  li {
    list-style: none;
    padding: 10px 0;
    a {
      color: #000;
      padding: 10px 15px;
      border-radius: 20px;
      &:hover {
        text-decoration: none;
        color: #000;
        background-color: rgba(228, 228, 228, 0.6);
      }
    }
  }
}

span a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    text-decoration: none;
    background-color: rgba(172, 211, 255, 0.6);
  }
}

footer {
  position:fixed;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: 0.7rem;
}

.company-wrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  background-color: #e6ecf0;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  transform: translate(-50%, -50%);
}

#close-modal {
  text-align: right;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

@media(max-width: 576px){
  .sidebar {
    display: none;
  }
}