html {
  height: 100%;
}

body {
  height: 100%;
}

.container-all {
  min-height: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.side-main-wrapper {
  width: 100%;
  padding: 60px 0px;
}

.sidebar {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.link-wrapper {
  position: fixed;
  top: 60px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

span a {
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    text-decoration: none;
    background-color: rgba(172, 211, 255, 0.6);
  }
}

.sidebar a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
  border-radius: 20px;
  &:hover {
    text-decoration: none;
    color: #000;
    background-color: rgba(228, 228, 228, 0.6);
  }
}

footer {
  position:fixed;
  bottom: 0;
  z-index: 1;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: 0.7rem;
}

.company-wrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media(max-width: 576px){
  .sidebar {
    display: none;
  }
}