article {
  width: 100%;
  margin: 1px auto;
  text-align: left;
  overflow-wrap: anywhere;
}

.article-wrapper {
  padding: 10px;
  border: solid 1px #e4e4e4;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  &:hover {
    background-color: #e4e4e4;
  }
}

.post-wrapper {
  width: 100%;
}

.username {
  font-weight: bold;
  padding-right: 0.5rem;
}

.username-e{
  padding-right: 1rem;
}

.img-wrapper {
  width: 80px;
}

.user-image {
  display: block;
  max-width: 100%;
}

.post-header {
  padding: 10px;
}

.post-content {
  padding: 0 10px;
}

.post-time-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  span {
    padding-right: 1rem;
  }
}

.form-wrapper {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.show-link {
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}
